<div class="container">
  <h1>Calendario di <small><%= @calendar %></small></h1>

  <p><%= link_to 'Aggiungi', new_calendar_time_slots_group_path(@calendar), class: 'btn btn-primary' %>  </p>

  <% @time_slots_groups.each do |tsb| %>  
    <div class="alert alert-warning my-5">
      Prenotazioni del <%= tsb %> - <%= link_to 'delete', time_slots_group_path(tsb), method: :delete %>  
    </div>

    <% tsb.time_slots.each do |ts| %>  
      <%= l ts.start_date, format: :hour %> -> <%= l ts.end_date, format: :hour %> 
      (<%= link_to ts.bookings.count, time_slot_bookings_path(ts) %>  prenotati)
      <span class="badge badge-info"><%= ts.free_places %> posti liberi</span>
      <%= link_to 'prenota', new_time_slot_booking_path(ts) %>  
      <br/>
    <% end %>

  <% end %>
</div>
