<div class="container">
  <%= simple_form_for @user do |user| %>  
    <%= user.input :name %>  
    <%= user.input :email %>  
    <%= user.input :manager %>  
    <%= user.submit %>  
  <% end %>
</div>
