<div>
  <span class='zone-button-empty'></span>
  <%= link_to 'G', zone_games_path(7), class: 'zone-button' %>  
  <%= link_to 'H', zone_games_path(8), class: 'zone-button' %>  
  <%= link_to 'I', zone_games_path(9), class: 'zone-button' %>  
  <%= link_to 'L', zone_games_path(10), class: 'zone-button' %>  
  <br/>
  <%= link_to 'F', zone_games_path(6), class: 'zone-button' %>  
  <br/>
  <%= link_to 'E', zone_games_path(5), class: 'zone-button' %>  
  <br/>
  <span class='zone-button-empty'></span>
  <%= link_to 'D', zone_games_path(4), class: 'zone-button' %>  
  <%= link_to 'C', zone_games_path(3), class: 'zone-button' %>  
  <%= link_to 'B', zone_games_path(2), class: 'zone-button' %>  
  <%= link_to 'A', zone_games_path(1), class: 'zone-button' %>  
</div>


