<div class="container">
  <center><h1>Scegli il colore</h1></center>

  <div class="row m-3">
    <%= Color.find_each do |color| %>  
      <div class="col-md-4">
        <%= color_button_link(color) %>  
      </div>
    <% end %>
  </div>

  <div class="row m-3">
    <div class="col-md-4">
      <div class="alert alert-info" style="font-size: 14px;">
        <p>Ultimi blocchi/giri: </p>
        <div>
          <% @last_games.each do |game| %>  
            <div>
              <%= link_to game.name, game_path(game.id) %>
              <span class="float-right badge badge-info"><%= game.user.name %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info" style="font-size: 14px">
        <p>Ultimi commenti: </p>
        <div>
          <% @last_comments.each do |comment| %>  
            <div>
              <small><b><%= comment.user.name %></b></small>: "<%= link_to comment.name, game_path(comment.game_id) %>"
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
