<div class="container">
  <center><h4>Scegli il colore</h4></center>

  <div class="home-buttons">
    <%= Color.find_each do |color| %>  
      <div class="home-button-container">
        <%= color_button_link(color) %>  
      </div>
    <% end %>
  </div>

  <div class="row mt-3">
    <div class="last-games-container">
      <p><strong>Ultimi blocchi/giri</strong></p>
      <div class="last-games-list-group">
        <% @last_games.each do |game| %>  
          <%= link_to game_path(game.id), class: "last-games-list-item" do %>
            <%= color_bullet(game.color) %>  
            <%= game.name %>  
            <span class="float-right"><small><b><%= game.user.name %></b></small></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="last-comments-container">
      <p><strong>Ultimi commenti</strong></p>
      <div class="list-group px-0 mx-0">
        <% @last_comments.each do |comment| %>  
          <%= link_to game_path(comment.game.id), class: "list-group-item list-group-item-action px-2" do %>
            <strong><%= comment.user.name %></strong>: <%= comment.name %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="general-roules">
    <p>
    <strong>Regole generali:</strong>
    Per considerare chiuso un blocco / giro è necessario tenere la presa indicata come TOP con entrambe le mani per almeno 2 secondi.<br/>
    Si intende "giro" un blocco con i piedi liberi.
    </p>
  </div>

</div>
</div>
