<div class="container">
  <center><h1>Scegli il colore</h1></center>

  <div class="row m-3">
    <%= Color.find_each do |color| %>  
      <div class="col-md-4">
        <%= color_button_link(color) %>  
      </div>
    <% end %>
  </div>

  <div class="row m-3">
    <div class="col-md-4">
      <%# <%= link_to 'Prototype 2019', games_path(prototype: 1), class: 'home-button', style: "border-color: green" %1> %>  
    </div>
    <div class="col-md-4">
      <div class="" style="font-size: 14px;">
        <p>Ultimi blocchi/giri: </p>
        <div>
          <% @last_games.each do |game| %>  
            <div>
              <%= content_tag(:i, '', class: 'fas fa-circle', style: "font-size: 16px; color: #{game.color.name}") %>
              <%= link_to game.name, game_path(game.id) %>
              <span class="float-right"><small><b><%= game.user.name %></b></small></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="" style="font-size: 14px">
        <p>Ultimi commenti: </p>
        <div>
          <% @last_comments.each do |comment| %>  
            <div>
              <small><b><%= comment.user.name %></b></small>: "<%= link_to comment.name, game_path(comment.game_id) %>"
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="general-roules">
    <p>
      <strong>Regole generali:</strong>
      Per considerare chiuso un blocco / giro è necessario tenere la presa indicata come TOP con entrambe le mani per almeno 2 secondi.<br/>
      Si intende "giro" un blocco con i piedi liberi.
    </p>
  </div>

</div>
</div>
