<div class="float-right">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-light ml-3 pt-0" data-toggle="modal" data-target="#modal-actions">
    <span style="font-size: 18"><%= icon "fas fa-ellipsis-v", bold: true %></span>
  </button>

  <div class="modal fade" id="modal-actions" tabindex="-1" role="dialog" aria-labelledby="ModalActions" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <% if current_user %>  
            <div class="game-list-actions">
              <% if policy(game).edit? %>  
                <%= link_to icon('fas fa-edit fa-fw text-muted', "modifica"), edit_game_path(game) %>
                <% if game.image.attached? %>  
                  <%= link_to icon('fas fa-paint-brush fa-fw text-muted', 'modifica prese'), edit_pinnings_game_path(game) %> 
                <% end %>
              <% end %>
              <% Reaction.each_types do |t| %>
                <%= link_to_game_reaction(game, t) %> 
              <% end %>
              <%= link_to icon('far fa-comment fa-fw text-muted', ' aggiungi un tuo commento'), new_game_comment_path(game) %> 
              <% if policy(game).destroy? %>  
                <%= link_to icon('fas fa-trash fa-fw text-muted', "elimina"), game_path(game), method: :delete, data: {confirm: 'Siete sicuri di voler cancellare?'} %> 
              <% end %>
            <% else %>
              <%= link_to icon("fas fa-sign-in-alt fa-fw", ' accedi per commentare'), login_path %> 
            <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

