<div class="float-right">
  <div class="dropleft">
    <button class="btn btn-light ml-3 pt-0" type="button" id="dropdownActionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span style="font-size: 22px"><%= icon "fas fa-ellipsis-v", bold: true %></span>
    </button>
    <div class="dropdown-menu bg-light" aria-labelledby="dropdownActionsButton" style="min-width: 260px; left: -260px !important; margin-top: 40px;">
      <% if current_user %>  
        <h6 class="dropdown-header">Azioni</h6>
        <% if policy(game).edit? %>  
          <%= link_to icon('fas fa-edit fa-fw text-muted', "modifica"), edit_game_path(game), class: "dropdown-item" %>
          <%= link_to icon('fas fa-edit fa-fw text-muted', 'modifica prese'), edit_pinnings_game_path(game), class: "dropdown-item" %>
          <%= link_to icon('fas fa-trash fa-fw text-muted', "elimina"), game_path(game), method: :delete, class: "dropdown-item", data: {confirm: 'Siete sicuri di voler cancellare?'} %>
        <% end %>
        <% Reaction.each_types do |t| %>
          <%= link_to_game_reaction(game, t) %>
        <% end %>
        <%= modal_link_to icon('far fa-comment fa-fw text-muted', ' aggiungi un tuo commento'), new_game_comment_path(game), addclass: 'dropdown-item' %>  
      <% else %>
        <%= link_to icon("fas fa-sign-in-alt fa-fw", ' accedi per commentare'), login_path, class: 'dropdown-item' %>
      <% end %>
    </div>
  </div>
</div>
