<%= simple_form_for @game, wrapper: :horizontal_form do |g| %>  
  <%= g.error_notification %>  
  <%= g.input :name %>  
  <%= g.input :description %>  
  <%= g.association :color, label_method: -> (c) {I18n.t c.name}, include_blank: false %>  
  <%= g.association :zone, label_method: -> (z) { z.to_s }, include_blank: false %>  
  <% if user_admin? %>  
    <%= g.association :user, collection: User.order(:name) %>  
  <% end %>

  <div class="form-group row">
    <% if user_manager? %>  
      <label class="col-sm-3 col-form-label">Visibilità</label>
      <div class="col-sm-9">
        <%= g.input :competition %>  
      </div>
    <% end %>
    <label class="col-sm-3 col-form-label">Caratteristiche</label>
    <div class="col-sm-9">
      <% Game.each_tags do |t| %>  
        <div><%= g.check_box t, as: :boolean %> <%= g.label t %><%= g.hint t %></div>
      <% end %>
    </div>

    <label class="col-sm-3 col-form-label">Immagine</label>
    <div class="col-sm-9 my-3">
      <% if @game.image.attached? %>  
        <%= image_tag @game.image.variant(resize_to_limit: [200, 200]), class: "img-thumbnail" %> 
      <% end %>
      <%# <input class="form-control-file file optional" type="file" name="game[image]" id="game_image" accept="image/*;capture=camera"> %>
      <%= g.input :image, as: :file, input_html: { accept: "image/*;capture=camera" } %>  
    </div>
  </div>
  <%= g.input :video_url %>  

  <%= g.submit class: "offset-sm-3 btn btn-primary" %>  
<% end %>
