<% width  = @game.image.metadata[:width] %>  
<% height = @game.image.metadata[:height] %>  

<div class="container">
<div style="position: fixed; top: 10px; left: 0; text-align: center; width: 100%; z-index: 1000">
  <button id="start_hold_btn" class="btn btn-info">PARTENZA</button>
  <button id="common_hold_btn" class="btn btn-info">PRESA</button>
  <button id="top_hold_btn" class="btn btn-info">TOP</button>
  <button id="save_btn" class="btn btn-info">SALVA</button>
</div>
<div id="canvasDiv" style="margin: 60px auto; width: <%= width %>px; height: <%= height %>px; background-image: url('<%= url_for(@game.image) %>')"></div>

<script>
   const holds_pinner = new window.HoldsPinner('canvasDiv', <%= width %>, <%= height %>);

   holds_pinner.set_editable();

   const startingHolds = <%= raw (@game.pinnings ? @game.pinnings.to_json : []) %>;

   holds_pinner.setup(startingHolds);

   document.querySelector('#start_hold_btn').addEventListener('click', start_hold)
   document.querySelector('#top_hold_btn').addEventListener('click', top_hold)
   document.querySelector('#common_hold_btn').addEventListener('click', common_hold)
   document.querySelector('#save_btn').addEventListener('click', save_holds)

   function start_hold() {
     holds_pinner.change_hold_type('start');
   }
   function top_hold() {
     holds_pinner.change_hold_type('top');
   }
   function common_hold() {
     holds_pinner.change_hold_type('hold');
   }
   function save_holds() {
     var result = {};
     result['holds'] = holds_pinner.get_holds();
     result['image'] = holds_pinner.export_image();
     console.log(JSON.stringify(result));
     let myRequest = new Request('<%= pinnings_game_path(@game) %>', 
       { 
         method: 'POST', 
         headers: { "Content-Type": "application/json" },
         body: JSON.stringify(result)
       }
     );
     fetch(myRequest).then(function(response) {
       console.log(response);
       if (response.statusText === 'OK') {
         window.location.href = "<%= game_path(@game) %>";
         //window.location.href = result['image'];
       };
     });
   }
</script>

<%# document.write('<img src="'+img+'"/>'); %>

</div><!-- container -->
