<div class="games-list">
  <% @games.each do |game| %>  
    <div class="card mb-3" style="border-color: <%= game.color.name %>">
      <div class="card-header">
        <%= color_dot(game) %> 
        <span class="game-title"><%= game.name.upcase %></span>
        <span class="float-right"><small><%= l game.created_at %></small></span>
      </div>
      <div class="card-body">
        <%= link_to game_path(game) do %>  
          <% if game.sketch.attached? %>  
            <%= image_tag game.sketch.variant(resize_to_limit: [400, 300]), class: 'img-fluid rounded mx-auto d-block' %> 
          <% else %>
            <%= missing_image_tag %>  
          <% end %>
        <% end %>
      </div>
      <div class="card-footer bg-light">
        <%= game_reaction(game, :like, editable: false) %> 
        <%= game_reaction(game, :hard, editable: false) %>  
        <%= game_reaction(game, :soft, editable: false) %>  
        <small><%= link_to "by #{game.user.name}", games_path(user_id: game.user_id), class: "badge badge-info float-right py-2"%></small>
      </div>
    </div>
  <% end %>
</div>
