<div class="container">
  <% if @user %>  
    <h2>I blocchi di <%= @user %></h2>
  <% end %>
  <% if @zone %>  
    <h2>I blocchi in parete <%= @zone %></h2>
  <% end %>
  <div class="games-list">
    <% @games.each do |game| %>  
      <div class="game-card mb-3">
        <div class="game-card-header">
          <%= game_icon(game) %> 
          <span class="game-title"><%= game.name.upcase %></span>
          <span class="float-right"><small><%= l game.created_at %></small></span>
        </div>
        <div class="card-body">
          <%= link_to game_path(game) do %>  
            <% if game.pinned_image.attached? %>  
              <%= image_tag game.pinned_image.variant(resize_to_limit: [400, 300]), class: 'img-fluid rounded mx-auto d-block' %> 
            <% elsif game.image.attached? %>
              <%= image_tag game.image.variant(resize_to_limit: [400, 300]), class: "img-fluid rounded mx-auto d-block" %>  
            <% else %>
              <%= missing_image_tag %>  
            <% end %>
          <% end %>
        </div>
        <div class="card-footer bg-light">
          <% Reaction.each_types do |t| %>
            <%= game_reaction(game, t) %> 
          <% end %>
          <small><%= link_to "by #{game.user.name}", games_path(user_id: game.user_id), class: "badge badge-info float-right py-2"%></small>
        </div>
      </div>
    <% end %>
  </div>
</div>
