<div class="game">
  <div class="game-card my-3">
    <div class="game-header">
      <%= game_icon(@game) %> 
      <span class="game-title"><%= @game.name.upcase %></span>
      <% if @game.free_feet %><span class="muted"><small>(giro)</small></span><% end %> 
      <% if policy(@game).edit? %>  
        <%= link_to '<i class="fas fa-edit mx-2"></i>'.html_safe, edit_game_path(@game), class: "float-right" %>
      <% end %>
      <%= link_to "by #{@game.user.name}", games_path(user_id: @game.user_id), class: "badge badge-info float-right py-2"%>
    </div>

    <div class="game-body m-0 p-0">
      <div id="game-image-div" style="width: 100%; position: relative; z-index: 10;">
        <% if @game.sketch.attached? %>  
          <%= image_tag @game.sketch, style: 'display: block; width: 100%; margin: auto', id: 'game-image' %>  
        <% else %>
          <%= missing_image_tag %>  
        <% end %>
      </div>
    </div>

    <div class="game-footer">
      <div>
        <%= game_reaction(@game, :like) %> 
        <%= game_reaction(@game, :hard) %>  
        <%= game_reaction(@game, :soft) %>  
        <span class="float-right"><small><%= l @game.created_at %></small></span>
      </div>
      <div style="text-align: right">
        <% @game.tags.each do |t| %>  
          <span class="tag-item"><%= t "activerecord.attributes.game.#{t}" %></span>
        <% end %>
      </div>
      <div class="font-italic"> <%= @game.description %> </div>
    </div>
  </div>
  <div class="comments">
    <p class="font-weigh-bold">Commenti
    <% if current_user %>
      <%= modal_link_to '<i class="far fa-comment"></i>'.html_safe, new_game_comment_path(@game), title: 'Aggiungi un tuo commento' %>  
    <% else %>
      <%= modal_to '<i class="far fa-comment"></i>'.html_safe, login_path, title: 'Aggiungi un tuo commento' %>  
    <% end %>
    </p>
    <div class="group-list">
      <% @comments.each do |comment| %>  
        <div class="group-list-item">
          <small><b><%= comment.user.name %>:</b></small> <%= comment.name %>
        <% if policy(comment).destroy? %>
          <span class="float-right"><%= link_to_delete comment_path(comment) %></span>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>  
$( document ).ready(function() {
  var i = 0;
  $(".btn").on('click', function () { 
    $("#game-image-div").css('display', 'block');
  });
  $("#game-image-div").on('click', function () { 
    if (i == 0) {
      $('meta[name=viewport]').attr('content', "width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes, minimum-scale=1.0, maximum-scale=3.0");
      $(this).css('position', 'fixed').css('left', 0).css('top', 0);
  		$("#game-image").css('max-width', ""); 
    } else if (i == 1) {
      $("body").empty();
      window.location.href = "<%= game_path(@game) %>";
      <%# $('meta[name=viewport]').attr('content', "width=device-width, minimum-scale=1.0, maximum-scale=1.0"); %>
      <%# $(this).css('position', 'relative'); %>
  		<%# $("#game-image").width("100%"); %> 
  		<%# $("#game-image").css('margin', 'auto'); %> 
    };
    i = (i + 1) % 2;
	});
})
<% end %>

<%= dm_modal_js_helper %>


