<% width  = @game.image.attached? ? @game.image.metadata[:width] : 100 %>  
<% height = @game.image.attached? ? @game.image.metadata[:height] : 100 %>  

<div class="game">
  <div class="game-card my-3">
    <div class="game-header">
      <%= game_icon(@game) %> 
      <span class="game-title"><%= @game.name.upcase %></span>
      <% if @game.free_feet %><span class="muted"><small>(giro)</small></span><% end %> 
      <%= render 'games/actions', game: @game %>  
    </div>

    <div class="game-body m-0 p-0">
      <% if @game.image.attached? %>  
        <div id="canvasDiv" style="background-image: url('<%= url_for(@game.image) %>'); background-size: contain"></div>
      <% else %>
        <%= missing_image_tag %>  
      <% end %>
    </div>

    <div class="game-footer">
      <div class="row">
        <div class="col">
          <% Reaction.each_types do |t| %>
            <%= ' &nbsp; &nbsp; &nbsp; <br/>'.html_safe if t == :working %>  
            <%= game_reaction(@game, t) %> 
          <% end %>
        </div>
        <div class="col">
          <span class="float-right">
            <small><%= l @game.created_at %></small> 
            <%= link_to "by #{@game.user.name}", games_path(user_id: @game.user_id), class: "badge badge-info float-right ml-2 mt-1" %>
          </span>
        </div>
      </div>
      <div style="text-align: right" class="">
        <% @game.tags.each do |t| %>  
          <span class="tag-item"><%= t "activerecord.attributes.game.#{t}" %></span>
        <% end %>
      </div>
      <div class="font-italic"> <%= @game.description %> </div>
    </div>
  </div>
  <div class="comments">
    <p class="font-weigh-bold">Commenti</p>
    <div class="group-list">
      <% @comments.each do |comment| %>  
        <div class="group-list-item">
          <small><b><%= comment.user.name %>:</b></small> <%= comment.name %>
        <% if policy(comment).destroy? %>
          <span class="float-right"><%= link_to_delete comment_path(comment) %></span>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= dm_modal_js_helper %>

<% if @game.image.attached? %>  
  <script type="module">
    import { Hold, HoldPinner } from '/blocchi/sketch/holds_pinning_lib.konvajs.js';

    var hold_pinner = new HoldPinner('canvasDiv', <%= width %>, <%= height %>);

    const startingHolds = <%= raw (@game.pinnings ? @game.pinnings.to_json : []) %>;

    hold_pinner.setup(startingHolds);
    hold_pinner.fitStageIntoParentContainer('canvasDiv');
  </script>
<% end %>
