<div class="container">
  <h1><%= @calendar %></h1>

  <%= simple_form_for [@calendar, @time_slots_group] do |tsg| %>  
    <%= tsg.input :max_number %>
    <%= tsg.input :start_date, minute_step: 5 %>
    <%= tsg.input :end_date, minute_step: 5 %>
    <%= tsg.input :minutes %>
    <%= tsg.input :every_minutes %>
    <%= tsg.submit %>
  <% end %>
</div>
