<nav class="navbar navbar-light bg-white">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'eden_logo.jpg' %> 
  <% end %>
  <% cache "colors_nav" do %>
    <ul class="nav">
      <% Color.find_each do |color| %>
        <li class="nav-item"><%= color_link(color) %></li>
      <% end %>
    </ul>
  <% end %>

  <% if current_user %>  
    <div class="dropdown">
      <div type="button" class="btn btn-warning" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars fw"></i>
      </div>
      <div class="dropdown-menu dropdown-menu-right bg-warning" aria-labelledby="dropdownMenuButton">
        <%= link_to icon("fas fa-plus fa-fw", 'nuovo blocco'), new_game_path, class: "dropdown-item" %>
        <%= link_to icon("fas fa-qrcode fa-fw", 'qrcodes'), qrcodes_games_path, class: "dropdown-item" %>
        <% if user_admin? %>  
          <%= link_to icon("fas fa-users fa-fw", 'users'), users_path, class: "dropdown-item" %>
        <% end %>
        <div class="dropdown-divider"></div>
        <%= link_to icon("fas fa-star fa-fw", 'i miei blocchi'), games_path(user_id: current_user.id), class: "dropdown-item" %>
        <%= link_to icon("fas fa-key fa-fw", current_user.name), myedit_users_path, class: "dropdown-item" %>   
        <%= link_to icon("fas fa-sign-out-alt fa-fw", 'esci'), logout_path, class: "dropdown-item" %>   
      </div>
    </div>
  <% else %>
    <ul class="nav">
      <li class="nav-item"><%= link_to icon("fas fa-sign-in-alt fa-fw", 'accedi'), login_path, class: "btn btn-warning" %>  </li>
    </ul>
  <% end %>
</nav>

