<nav class="navbar navbar-light bg-white">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'eden_logo.jpg' %> 
  <% end %>
  <% cache "colors_nav" do %>
    <ul class="nav">
      <% Color.find_each do |color| %>
        <li class="nav-item"><%= color_link(color) %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="dropdown">
    <div type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </div>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <%= link_to '<i class="fas fa-plus fa-fw"></i>'.html_safe   + ' nuovo blocco', new_game_path, class: "dropdown-item" %>
      <% if current_user %>
        <%= link_to '<i class="fas fa-qrcode fa-fw"></i>'.html_safe + ' qrcodes', qrcodes_games_path, class: "dropdown-item" %>
      <% end %>
      <% if user_admin? %>  
        <%= link_to '<i class="fas fa-users fa-fw"></i>'.html_safe + ' users', users_path, class: "dropdown-item" %>
      <% end %>
      <div class="dropdown-divider"></div>
      <% if current_user %>  
        <%= link_to current_user.name, games_path(user_id: current_user.id), class: "dropdown-item" %>   
      <% else %>
        <%= link_to 'accedi', login_path, class: "dropdown-item" %>   
      <% end %>
    </div>
  </div>
</nav>

