<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, shrink-to-fit=no, user-scalable=yes">

    <title>I blocchi e i giri di Eden Park - San Lazzaro</title>
    <meta content="Pagina con i blocchi e i giri della palestra di arrampicata Eden Park a Sal Lazzaro (BO)" name="description" />
    <meta name="keywords" content="Blocchi, palestra arrampicata, San Lazzaro, Bologna, arrampicata">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render(partial: 'layouts/menu') unless @no_menu %>
    <%= bootstrap_flash %>
    <%= bootstrap_modal_div %>
    <%= yield %>
  </body>
</html>
